/*
* Author: Carson Lam
*/
/* Visualization styling */
/************************************************************************/
.block {
    background-color: white;
    height: 50px;
    width: 50px;
}


/* Interface styling */
/************************************************************************/
@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit/static/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BUTTON STYLINE */
/************************************************************************/
.sorterButton {
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 15px;
    margin-left: 0;
}

.sorterButton:hover {
    background-color: #61595a;
}


.button-container {
    background-color: red;
    text-align: left;

}


/* DIV STYLING */
/************************************************************************/
.main {
    background-color: #181414;
    text-align: center;
    flex-direction: column;
    height: calc(100vh - 70px);
}

.output {
    border: 0.5px solid white;
    border-radius: 8px;
    width: 100%;
}

.secondary {
    background-color: blue;
    height: auto;
}


/* TEXT STYLING */
/************************************************************************/
.maintext {
    color: white;
    font-family: 'Outfit', 'Helvetica', sans-serif;
    font-weight: 200;
}

.subheading {
    color: white;
    font-family: 'Outfit', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.typewriter .maintext {
    display: flex;
    width: fit-content;
    /* background-color: green; */
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation:
        typing 1.0s steps(40, end),
        blink-caret .75s step-end infinite,
        hide-caret 0s 4s forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

@keyframes hide-caret {
    to {
        border-color: transparent;
    }
}

.input {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #282828;
    color: white;
    border-radius: 8px;
    border: none;
}

.input:focus {
    outline: none;
}

/* NAVBAR STYLING */
/************************************************************************/
nav {
    width: 100%;
    background-color: black;
    height: 70px;
    /* margin-top: -16px; */
}

nav ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}


nav li {
    text-align: center;
    position: relative;
    margin: 0;
}



nav li a {
    font-family: 'Outfit', 'Helvetica', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    line-height: 70px;
    display: flex;
    padding: 0 20px;
}


nav li a:hover {
    color: white;
}


nav a::before {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    margin: 0;
}


nav a:hover::before {
    width: 100%;
    /* transition: all ease-in-out 400ms; */
}


.active {
    background-color: #181414;
}

/************************************************************************/